.wordstyle1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

.wordstyle2 {
    font-family: "Arial Black", Gadget, sans-serif;
}

.wordstyle3 {
    font-family: Arial, Helvetica, sans-serif;
}
